<link rel="stylesheet" href="/styles/faq.css"/>

<h1 class="title title-spacing">FAQ</h1>

<ul>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
  <%= erb :faq_item %>
</ul>
