<section class="faq">
  <h1 class="title title-spacing">FAQs</h1>
  
  <ul class="faq-list">
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
    <%= erb :faq_item %>
  </ul>
</section>
